{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'profiles/css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
    <script src="{% static 'profiles/js/scripts.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="box">
        <div class="chart" data-percent="{{ daily_goal }}">
            <div class="percent"></div>
        </div>
        <table class='current' border="1" style="display: block; width: 100%;">
            <thead>
            <tr>
                <th>Nutrients - {{ date }}</th>
                <th>Amount</th>
                <th>Goal</th>
            </tr>
            </thead>
            <tbody class="labels">
            {% for k, v in today_total.items %}
            <tr>
                <td class="name">{{ k }}</td>
                <td class="amount">{{ v }}</td>
                <td class="goal">{{ goal|lookup:k }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
        <div class="foodhistory">{{ foodhistory }}</div>
    </div>
</div>
</body>
